<fieldset>
    <legend><strong>FIR {{ idx }} </strong></legend>

      {% set edit_task = process.edit_task() %}
      {% if edit_task %}
        <ul class="menu-out case-item-title-actions flow-across">
          <li>
            <a href="{{flowurl(request, edit_task, url_name='execute', namespace='fir')}}" class="small-button button icon-pencil">Edit</a>
          <li>
        </ul>
      {% endif %}

    <div class="container setoutForm">

      {% include "web/domains/case/fir/partials/process.html" %}

      TODO:Uploaded files

      <div class="row">
        <div class="three columns"></div>
        <div class="six columns">
          <ul class="menu-out flow-across">
            <li>
              <!-- TODO: Delete action  --> 
              <button type="button" class="button">Delete</button>
              <li>
          </ul>
        </div>
        <div class="three columns"></div>
      </div>
    </div>
</fieldset>
